html{
    text-align: center;
}

body {
    background-color : lightgrey;
}

input{
    margin: 5px;
}

#firstForm {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 5px gray;
    box-shadow: 15px 10px;
}